extends layout

block content
  h1 Login
  p Welcome to #{title}

  h2 First Name
  input(
  type="text", 
  name="firstName", 
  value=userFirstName
  placeholder = 'Enter in First Name'
 )

  h2 First Name
  input(
  type="text", 
  name="firstName", 
  value=userFirstName
  placeholder = 'Enter in First Name'
 )

  h2 Last Name
  input(
  type="text", 
  name="lastName", 
  value=userFirstName
  placeholder = 'Enter in Last Name'
 )

  h2 Password
  input(
  type="text", 
  name="password", 
  value=userFirstName
  placeholder = 'Enter in Password'
 )


