//creates a form with these elements
//student FirstName field
//student LastName field
//student Grade
//student Class


form(method='POST' action='')

  div(class="loginBox")
    h2 First Name
        input(
        type="text", 
        name="firstName", 
        value=userFirstName
        placeholder = 'Enter in First Name'
       )
   div(class="loginBox")
    h2 Last Name
      input(
      type="text", 
      name="lastName", 
      value=userLastName
      placeholder = 'Enter in Last Name'
     )
   div(class="loginBox")
    h2 Grade
      input(
      type="number", 
      name="grade", 
      value=userGrade
      placeholder = 'Enter in Grade'
    )

  


